<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
<h1>Albums</h1>
<ul>
    <li th:each="album : ${AlbumList}" >
        <span th:text="${album.title}"></span> <br>
        <span th:text="${album.artist}"></span><br>
        <span th:text="${album.songCount}"></span><br>
        <span th:text="${album.lengthInSeconds}"></span> <br>
        <span th:text="${album.imageUrl}"></span><br>
        <span th:text="${album.albumExpressions.toString()}"></span>

        <form action="/reaction" method="POST">
            <h2>Add a Reaction</h2>
            <input type="hidden" th:value="${album.id}" name="id">
            Action: <input type="text" name="action">
            Intensity: <input type="text" name="intensity">
            <input type="submit" value="add reaction">
        </form>

        <form th:action="'/albums/delete/' +${album.id}" method="POST">
            <button type="submit">Delete Album</button>
        </form>
<br><br>
    </li>

</ul>
<form action="/albums" method="POST">
<h2>Add a new Album</h2>
    Title: <input type="text" name="albumTitle">
   Artist:  <input type="text" name="albumArtist">
    SongCount: <input type="number" name="albumSongCount">
    LengthInSeconds: <input type="number" name="albumLengthInSeconds">
    ImageUrl: <input type="text" name="albumImageUrl">
    <input type="submit">
</form>
</body>
</html>