<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Hello to my beautiful world. The birds are singing, <br>
    the horses are galloping down the elephant-flattened<br>
    terraces of the pristine Safari. I am here listening <br>
    to the chirping of the parrots, fully hugging the spread<br>
    feathers of the pulchritudinous assemblage of seventeen peacocks.<br> <br>

    Don't get confused. This is a hello world page lol.

</h1>
</body>
</html>